<p>
  This application demonstrates the use of <a href="https://www.asp.net/signalr">SignalR</a>
  to create a <a href="https://blazor.net/">Blazor</a> chat application.
</p>

<p>
  <span class="badge badge-success">New</span> The app now uses the <code>Microsoft.AspNetCore.SignalR.Client</code>
  library which is now compatible with the Mono WASM runtime. This really simplifies the ChatClient code.
    </p>
<p>
    Previously this sample used JavaScript SignalR client. If you want to see how the JavaScript client version worked, I've retained
    it in <a href="https://github.com/conficient/BlazorChatSample/tree/netcore-3.2.0-preview1">this branch</a>.
</p>
<h5>Demo</h5>
<p>
    A demo application is available at https://blazorchatsample.azurewebsites.net
</p>
<h5>Improvements &amp; Suggestions</h5>
<p>
    If you have any improvements or suggestions please submit as issues/pull requests on the Github repo.
</p>
<h5>Acknowledgements</h5>
<p>
    Thanks to Code-Boxx for the article https://code-boxx.com/responsive-css-speech-bubbles/ that helped me create simple CSS speech bubbles that improve the layout
</p>
<p>
  Source code at <a href="https://github.com/conficient/BlazorChatSample">Github</a>.
</p>

<hr />